*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* all shared style */

body{
    font-family: 'Work Sans', sans-serif;
}

:root{
    --primary-color:#FF42A5;
    --font-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --descriptoin-font-color:#3C354F;
    --title-font-size:3rem;
    --description-font-size:1.125rem;
    --button-font-size:1.25rem;
}


/* End all shared style */
/* start header section */
header{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0px 46px 0px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo-image-link{
    text-decoration:none;
}

.logo-content img{
    width: 100%;
}

.logo-text h3{
    font-size: var(--title-font-size);
}

.logo-text-color{
    color: var(--primary-color);
}

.menubar ul{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.menubar ul li{
    list-style: none;
    
}

.menubar ul li a{
    text-decoration: none;
    color: var(--descriptoin-font-color);
    font-size:var(--description-font-size) ;
    font-weight: 500;
}

.menu-option-container{
    display: flex;
}

.menu-btn{
    display: flex;
    padding: 17px;
    border: 0;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 0.5rem;
    gap: 24px;
}

.menubar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#youtube-icon{
    color: #F61C0D;;
}

/* end nav style */

/* start goat banner style */

.goat-banner-section{
   background-image: url('images/Group-14.png');
   background-repeat: no-repeat;
   background-position: left ;
   background-size: 700px;
}

.banner-img img{
    width: 100%;
    height: 100%;
}

.goat-banner-all-content{
    max-width: 1440px;
    margin: 0 auto;

}

.goat-banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goat-banner-title{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}


.goat-banner-content > h1{
    font-size: 5.93rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

.goat-list-info li{
    margin: 24px 0px 41px 0px;
    list-style: none;
    font-size:var(--description-font-size) ;
    font-weight: 500;
    color:var(--descriptoin-font-color);
}

.primary-btn{
    background-color: var(--primary-color);
    padding: 20px 40px;
    border: 0;
    border-radius: 50px;
    color: #FFF;
    font-weight: 600;
    font-size:var(--button-font-size) ;
}

.secoendry-btn{
    background-color:#4EC5F7;;
    padding: 20px 40px;
    border: 0;
    border-radius: 50px;
    color: #FFF;
    font-weight: 600;
    font-size:var(--button-font-size) ;
    margin-left: 24px;
}

/* End goat style section */

/* start we are gamers section style*/
.We-are-gamer-container-section{
    background:linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%,
     rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 120px;
}

.gamer-all-content{
    max-width: 1440px;
    margin: 0 auto;
}

.We-are-gamer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.gamer-content{
    text-align: right;
}

.gamer-content h3{
    font-size: var(--title-font-size);
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content .gamer-content-description{
    margin: 24px 0px 24px 0px;
    font-size:1rem;
    color: var(--descriptoin-font-color);
    line-height: 25px;
}

.quote{
    font-size:1.5rem;
    color: var(--descriptoin-font-color);
    font-weight: 600px;
}

.quote-title{
margin-top: 20px;
font-size: 1.25rem;
margin-bottom: 15px;
}

.quote{
    margin-top: 30px;
    font-size: 1.5rem;
}

/* End we are gamers section style */

/* start online game cart section style */

.online-games-section{
    margin-bottom: 185px;
}

.online-game-all-content{
    max-width: 1440px;
    margin: 0 auto;
}
.online-games-section h3{
    font-size: var(--title-font-size);
    text-align: center;
    margin-bottom: 32px;
}

.online-games-section p{
    text-align: center;
    font-size: var(--description-font-size);
    margin-bottom: 48px;
    color: var(--descriptoin-font-color);

}
.funny-videos-text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    gap:20px;
}

.game-cart-content{
    padding: 150px;
}


.game-cart p{
    margin-top: 24px;
    font-size: var(--button-font-size);
    font-weight: 500;
    color: var(--descriptoin-font-color);
    line-height: 30px;
    text-align: left;
}

.game-cart img{
    width: 100%;
}



.game-cart-overly-content{
    position: relative;

}

.image-overlay{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height:calc(100% - 2px);
    width: 100%;
    background-color:#00000072;
    opacity: 0;
    border: 5px solid var(--primary-color);
    border-radius:15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-overlay i{
    font-size: 48px;
    color: #ffffff;
}

.image-overlay > p{
    color: var(--primary-color);
}

.game-cart-overly-content:hover .image-overlay{
    opacity: 1;
    
}





/* end online game cart section style */

/* start Play Instantly section style */

.Play-instantly-all-content{
    max-width: 1440px;
    margin: 0 auto;
}

.Play-instantly-content{
    text-align: right;
    margin-left: 120px;
}

.Play-instantly-containter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Play-instantly-content h3{
    font-size: var(--title-font-size);
    margin-bottom: 24px;
}

.horse-rider-image{
    height: 100%;
}

.my-talking-image{
    position: relative;
    display: inline-block;
    top: 100px;
    left: 150px;
}


.Play-instantly-descripton{
    line-height: 30px;
    font-weight: 500;
    font-size:var(--description-font-size) ;
    color: var(--descriptoin-font-color);
}

/* start carrears section style */

.careers-section{
    background-color: #F948B2;
    margin-top: 243px;
}

.careers-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    gap: 50px;
    color: #ffffff;
    font-size: 18px;
}

.left-right-text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    font-size: 20px;
}

.careers-all-text-content h1{
    font-size: 3rem;
    margin-bottom: 24px;
}

.careers-all-text-content p{
    font-size: 18px;
    font-weight: 400;
}

.banner-btn{
    background-color: #FFF;
    margin-top: 40px;
    padding: 15px 40px;
}

.banner-btn a{
    text-decoration: none;
    color:var(--primary-color);
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 15px;
}

.carrers-img {
 width: 54%;
}

/* End carrears section style */


 /* start-game-play-button style */
 .game-play-button-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
 }
 .game-play-button-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 30px;

 }

 .play-game-button-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #FFF;
    font-size: var(--button-font-size);
    padding: 8px;
    border: 2px solid transparent;
    box-shadow:2px 2px 10px rgb(236, 236, 236);
    border-radius: 50px;
    cursor: pointer;
 }

 .play-game-button-one:hover{
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid var(--primary-color) ;
    padding:8px;
    color: var(--primary-color);
    padding: 8px;
 }

  /* end-game-play-button style */

  /* start footer section */

  footer{
    margin-top: 130px;
    background-color: #0B0223;
  }

  .footer-all-content{
    padding-top: 126px;
    max-width: 1440px;
    margin: 0 auto;
  }

  
  .footer-logo-text{
    color: #ffffff;
  }

  .footer-option-container{
    margin-top: 66px;
  }

  .footer-list{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
  }
  .footer-list li{
    list-style: none;
  }

.footer-list li a{
    text-decoration: none;
    color: #FFF;
    font-size:var(--description-font-size);
    font-weight: 600;
  }

  .footer-social-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    gap: 30px;
    margin-bottom: 74px;
    flex-wrap: wrap;
  }

.footer-social-icon-container  a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}

.footer-info-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer-info-list li{
    list-style: none;
}

.footer-info-list li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.footer-copyright-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 130px;
}

.footer-copyright-section p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

  /* end footer section */


/* Start-responsive all device */


@media screen and (max-width:576px) {

/* start nav section responsive */

    .nav-container{
        flex-direction: column;
        }

    .menubar{
        flex-direction: column;
    }

.menubar ul{
        margin-top: 40px;
        flex-direction: column;
    }

/* end nav section responsive */


/* start banner section responsive */
.goat-banner-container{
    flex-direction: column-reverse;
}

.goat-banner-section{
    background-position: bottom;
    background-size: 550px;
    margin-top: 50px;
    width: 100%;
 }
 

.goat-banner-content{
    margin-top: 150px;
    padding-bottom: 60px;
}

.banner-img{
    margin-bottom:20px;
    margin-top: 20px;
    width: 80%;
}

/* end banner section resposive */

/* start we are gamer section responsive */

.We-are-gamer-container-section{
    margin-top: 80px;
}

.We-are-gamer-container{
    flex-direction: column;
}

.gamer-content{
    text-align: center;
    
}
 
.gramer-content img{
    width: 100%;
}

.gamer-content-description{
    line-height: 25px;
}
    
.gamer-content .gamer-content-description{
    font-size: 14px;
}

.quote-title{
    margin-top: 20px;
 font-size: 1rem;
}

.quote{
    font-size: 1.2rem;
}

/* End we are gamer section responsive */

/* start online-game-container section responsive */

.online-games-section{
    padding: 0px 60px 0px 60px;
}

.online-game-container{
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.game-cart > p {
    text-align: center;
    font-size: 14px;
    line-height:30px;
}

.online-games-section h3{
    font-size: 1.6rem;
}

.online-games-section > p{
    font-size: 0.8rem;
}

.game-cart p{
    font-size: var(--button-font-size);
    font-weight: 500;
    color: var(--descriptoin-font-color);
    line-height: 30px;
    text-align: left;
}

.game-cart img{
    width: 100%;
}

.game-cart-overly-content{
    position: relative;

}

.image-overlay{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height:calc(100% - 2px);
    width: 100%;
    background-color:#00000072;
    opacity: 0;
    border: 5px solid var(--primary-color);
    border-radius:15px;
}

.image-overlay i{
    font-size: 48px;
    color: #ffffff;
}

.image-overlay > p{
    color: var(--primary-color);
    font-size: 1rem;
}

.game-cart-overly-content:hover .image-overlay{
    opacity: 1; 
}


.game-cart .online-game-description{
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
}

/* end online-game-container section responsive */

/* start Play-instantly-containter section responsive */
.Play-instantly-containter{
    flex-direction: column;
}

.Play-instantly-content{
    text-align: center;
    margin: 0 auto;
}

.Play-instantly-content h3{
    font-size: 2rem;
}
.Play-instantly-content p{
    font-size: 1rem;
}

.play-instantly-images{
    position: relative;
    height: 100%;
    width: 100%;
}

.play-instantly-images img{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    
}

.horse-rider-image{
  width: 60%; 
}

.my-talking-image{
    width: 25%;
    position: relative;
    top: 60px;
    left: 60px;
}

/* end Play-instantly-containter section responsive */

/* start game-play-button-section responsive */

.game-play-button-section{
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
 }

 .game-play-button-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-around;
   row-gap: 14px;
   column-gap: 2px;
 }

 .play-game-button-one img{
    width: 20px;
    height: auto;
 }

 .play-game-button-one{
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 8px;
    padding: 8px;
    font-weight: 600;
 }

 .play-game-button-one:hover{
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid var(--primary-color) ;
    padding:8px;
    color: var(--primary-color);
    padding: 8px;
 }

 /* End game-play-button-section responsive */

  .footer-list{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 2px;
    justify-content: space-around;
    text-align: center;
    margin-right: 10px;
  }

  .footer-social-icon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

.footer-info-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    text-align: center;
    margin-bottom: 74px;
    margin-left: 15px;

}

.footer-copyright-section{
    display: block;
    text-align: center;
    line-height: 25px;
}

}


@media screen and (min-width:576px) and (max-width:768px){   

    .nav-container{
        flex-direction: column;
        }

    .menubar{
        flex-direction: column;
    }

.menubar ul{
        margin-top: 40px;
        flex-direction: column;
    }

/* end nav section responsive */


/* start banner section responsive */
.goat-banner-container{
    flex-direction: column-reverse;
}

.goat-banner-section{
    background-position: bottom;
    background-size: 550px;
    margin-top: 50px;
    width: 100%;
 }
 

.goat-banner-content{
    margin-top: 150px;
    padding-bottom: 60px;
}

.banner-img{
    margin-bottom:20px;
    margin-top: 20px;
    width: 80%;
}

/* end banner section resposive */

/* start we are gamer section responsive */

.We-are-gamer-container-section{
    margin-top: 80px;
}

.We-are-gamer-container{
    flex-direction: column;
}

.gamer-content{
    text-align: center;
    
}
 
.gramer-content img{
    width: 100%;
}

.gamer-content-description{
    line-height: 25px;
}
    
.gamer-content .gamer-content-description{
    font-size: 14px;
}

.quote-title{
    margin-top: 20px;
 font-size: 1rem;
}

.quote{
    font-size: 1.2rem;
}

/* End we are gamer section responsive */

/* start online-game-container section responsive */

.online-games-section{
    padding: 0px 150px 0px 150px;
}

.online-game-container{
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.game-cart > p {
    text-align: center;
    font-size: 14px;
    line-height:30px;
}

.online-games-section h3{
    font-size: 2rem;
}

.online-games-section > p{
    font-size: 1rem;
}

.game-cart p{
    margin-top: 24px;
    font-size: var(--button-font-size);
    font-weight: 500;
    color: var(--descriptoin-font-color);
    line-height: 30px;
    text-align: left;
}

.game-cart img{
    width: 100%;
}

.game-cart-overly-content{
    position: relative;

}

.image-overlay{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height:calc(100% - 2px);
    width: 100%;
    background-color:#00000072;
    opacity: 0;
    border: 5px solid var(--primary-color);
    border-radius:15px;
}

.image-overlay i{
    font-size: 48px;
    color: #ffffff;
}

.image-overlay > p{
    color: var(--primary-color);
    font-size: 1rem;
}

.game-cart-overly-content:hover .image-overlay{
    opacity: 1; 
}


.game-cart .online-game-description{
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

/* end online-game-container section responsive */

/* start Play-instantly-containter section responsive */
.Play-instantly-containter{
    flex-direction: column;
}

.Play-instantly-content{
    text-align: center;
    margin: 0 auto;
}

.Play-instantly-content h3{
    font-size: 2rem;
}
.Play-instantly-content p{
    font-size: 1rem;
}

.play-instantly-images{
    position: relative;
    height: 100%;
    width: 100%;
}

.play-instantly-images img{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    
}

.horse-rider-image{
  width: 60%; 
}

.my-talking-image{
    width: 25%;
    position: relative;
    top: 60px;
    left: 60px;
}

/* end Play-instantly-containter section responsive */

/* start game-play-button-section responsive */

.game-play-button-section{
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
 }

 .game-play-button-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-around;
   row-gap: 14px;
   column-gap: 15px;
 }

 .play-game-button-one img{
    width: 20px;
    height: auto;
 }

 .play-game-button-one{
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    padding: 8px;
    font-weight: 600;
 }

 .play-game-button-one:hover{
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid var(--primary-color) ;
    padding:8px;
    color: var(--primary-color);
    padding: 8px;
 }

 /* End game-play-button-section responsive */

  .footer-list{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 2px;
    justify-content: space-around;
    text-align: center;
    margin-right: 10px;
  }

  .footer-social-icon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

.footer-info-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    text-align: center;
    margin-bottom: 74px;
    margin-left: 15px;

}

.footer-copyright-section{
    display: block;
    text-align: center;
    line-height: 25px;
}

}


@media screen and (min-width:768px) and (max-width:992px){

    .nav-container{
        flex-direction: row;
        padding: 0px 20px 0px 20px;
        align-items: center;
        justify-content: space-between;
        }

    .menubar{
        flex-direction: row;
    }

.menubar ul{
        margin-top: 40px;
        flex-direction: row;
    }

/* end nav section responsive */


/* start banner section responsive */
.goat-banner-container{
    flex-direction: column-reverse;
}

.goat-banner-section{
    background-position: bottom;
    background-size: 550px;
    margin-top: 50px;
    width: 100%;
 }
 

.goat-banner-content{
    margin-top: 150px;
    padding-bottom: 60px;
}

.banner-img{
    margin-bottom:20px;
    margin-top: 20px;
    width: 80%;
}

/* end banner section resposive */

/* start we are gamer section responsive */

.We-are-gamer-container-section{
    margin-top: 80px;
}

.We-are-gamer-container{
    flex-direction: column;
}

.gamer-content{
    text-align: center;
    
}
 
.gramer-content img{
    width: 100%;
}

.gamer-content-description{
    line-height: 25px;
}
    
.gamer-content .gamer-content-description{
    font-size: 14px;
}

.quote-title{
    margin-top: 20px;
 font-size: 1rem;
}

.quote{
    font-size: 1.2rem;
}

/* End we are gamer section responsive */

/* start online-game-container section responsive */

.online-games-section{
    padding: 0px 150px 0px 150px;
}

.online-game-container{
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.game-cart > p {
    text-align: center;
    font-size: 14px;
    line-height:30px;
}

.online-games-section h3{
    font-size: 2rem;
}

.online-games-section > p{
    font-size: 1rem;
}

.game-cart p{
    margin-top: 24px;
    font-size: var(--button-font-size);
    font-weight: 500;
    color: var(--descriptoin-font-color);
    line-height: 30px;
    text-align: left;
}

.game-cart img{
    width: 100%;
}

.game-cart-overly-content{
    position: relative;

}

.image-overlay{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height:calc(100% - 2px);
    width: 100%;
    background-color:#00000072;
    opacity: 0;
    border: 5px solid var(--primary-color);
    border-radius:15px;
}

.image-overlay i{
    font-size: 48px;
    color: #ffffff;
}

.image-overlay > p{
    color: var(--primary-color);
    font-size: 1rem;
}

.game-cart-overly-content:hover .image-overlay{
    opacity: 1; 
}


.game-cart .online-game-description{
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

/* end online-game-container section responsive */

/* start Play-instantly-containter section responsive */
.Play-instantly-containter{
    flex-direction: column;
}

.Play-instantly-content{
    text-align: center;
    margin: 0 auto;
}

.Play-instantly-content h3{
    font-size: 2rem;
}
.Play-instantly-content p{
    font-size: 1rem;
}

.play-instantly-images{
    position: relative;
    height: 100%;
    width: 100%;
}

.play-instantly-images img{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    
}

.horse-rider-image{
  width: 60%; 
}

.my-talking-image{
    width: 25%;
    position: relative;
    top: 60px;
    left: 60px;
}

/* end Play-instantly-containter section responsive */

/* start game-play-button-section responsive */

.game-play-button-section{
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
 }

 .game-play-button-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-around;
   row-gap: 14px;
   column-gap: 15px;
 }

 .play-game-button-one img{
    width: 20px;
    height: auto;
 }

 .play-game-button-one{
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    padding: 8px;
    font-weight: 600;
 }

 .play-game-button-one:hover{
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid var(--primary-color) ;
    padding:8px;
    color: var(--primary-color);
    padding: 8px;
 }

 /* End game-play-button-section responsive */

  .footer-list{
    justify-content: space-around;
    text-align: center;
    gap: 5px;
  }

  .footer-social-icon-container{
    justify-content: center;
    text-align: center;
    gap: 140px;
    
  }

.footer-info-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    margin-bottom: 74px;
    margin-left: 20px;
    gap: 5px;

}

.footer-copyright-section{
    text-align: center;
    line-height: 20px;
}

}


@media screen and (min-width:992px) and (max-width:1200px){
    .nav-container{
        flex-direction: row;
        padding: 0px 20px 0px 20px;
        align-items: center;
        justify-content: space-between;
        }

    .menubar{
        flex-direction: row;
    }

.menubar ul{
        margin-top: 40px;
        flex-direction: row;
    }

/* end nav section responsive */





